#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url('freedom.jpg') center / cover no-repeat border-box, #ff1b68;
  background-position: 50% 25%;
  width: 100%;
  height: 33vh;
  padding: 0.6rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

/* 640 */
@media (min-width: 40rem) and (min-height: 60rem) {
  #product-overview {
    height: 40vh;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.content {
  margin-top: 2.8rem;
}

.section-title {
  color: #2ddf5c;
}

article {
  background-color: #c6f1d1;
  width: 100%;
  padding: 1.3rem;
  margin: 0.5rem 0;
}

article > h2 {
  color: grey;
}

article > ul {
  list-style-type: none;
  line-height: 1.7;
  padding: 0;
}

article button {
  font: inherit;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

article button:hover {
  background-color: white;
  color: darkgreen;
}

article button:focus {
  outline: none;
}

.highlighted {
  background-color: #42af42;
  color: white;
}

.highlighted > h1:first-child {
  background-color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  color: #42af42;
  box-shadow: 2px 2px 5px #000;
}

.highlighted > h2 {
  color: darkgreen;
}

@media (min-width: 40rem) {
  article {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }
  .plans-section {
    text-align: center;
  }

  .highlighted {
    box-shadow: 2px 2px 5px #757575;
  }

  .highlighted > h1:first-child {
    padding: 0.5rem 0.2rem;
  }
}

#plans {
  text-align: center;
}

#stickaround-section {
  background-color: #ff1b68;
  padding: 1.3rem 3.8rem;
  color: white;
  text-align: center;
}

.circle {
  width: 6.3rem;
  height: 6.3rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  padding: 1.3rem;
}

.circle + p {
  font-weight: bold;
}

.circle-item {
  list-style-type: none;
}

.circlegroup {
  margin: 2rem auto;
  max-width: 76rem;
  padding: 0;
}

@media (min-width: 40rem) {
  .circle-item {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
  }
}
