* {
  box-sizing: border-box;
}

.items {
  margin: 0;
}

.cta.item {
  background-color: #ff1b68;
  padding: 5px 10px;
  border-radius: 5px;
}

.cta.item:hover,
.cta.item:active {
  background-color: darkgreen;
}

.cta.item > a {
  color: white;
  font-weight: bold;
}

.cta.item > a:hover,
.cta.item > a:active {
  border-bottom: 0;
}

.item {
  display: inline-block;
  margin: 0 35px;
}

.link {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
}

.link:hover,
.link:active {
  color: white;
  border-bottom: 5px solid white;
}

.logo > .link {
  font-weight: bold;
}

.header {
  background-color: lightgreen;
  padding: 8px 16px;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.nav {
  text-align: right;
  width: calc(100% - 55px);
}

.nav,
.logo {
  display: inline-block;
}

/* footer */

.footer {
  background-color: black;
  color: white;
  padding: 32px;
  margin-top: 48px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer ul > li {
  display: inline-block;
  margin: 0 16px;
}

.footer ul > li > a {
  color: white;
  text-decoration: none;
}

.footer ul > li > a:hover,
.footer ul > li > a:active {
  color: #ccc;
}
