@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

.items {
  margin: 0;
}

.cta.item:hover,
.cta.item:active {
  background-color: darkgreen;
}

.cta.item > a {
  color: white;
  font-weight: bold;
}

.cta.item > a:hover,
.cta.item > a:active {
  border-bottom: 0;
}

.item {
  display: inline-block;
  margin: 0 1.4rem;
}

.link,
.mobile-nav__item a {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
}

.cta.item,
.mobile-nav__item--cta a {
  background-color: #ff1b68;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  color: white;
}

nav .link:hover,
nav .link:active {
  color: white;
  border-bottom: 0.3rem solid white;
}

.logo > .link {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  height: 2.5rem;
}

.link > img {
  height: 100%;
}

.header {
  background-color: lightgreen;
  padding: 0.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.nav,
.logo {
  display: inline-block;
  vertical-align: middle;
}

.nav {
  display: none;
  text-align: right;
  width: calc(100% - 122px);
}
/* footer */

.footer {
  background-color: black;
  color: white;
  padding: 2rem;
  margin-top: 3rem;
  height: 5rem;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer ul > li {
  display: inline-block;
  margin: 0 1rem;
}

.footer ul > li > a {
  color: white;
  text-decoration: none;
}

.footer ul > li > a:hover,
.footer ul > li > a:active {
  color: #ccc;
}

.background {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  .nav {
    display: inline-block;
  }
}

button {
  font: inherit;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  border: #a1a1a1;
  color: #a1a1a1;
  background-color: #ccc;
}

button:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}

button:focus {
  outline: none;
}
