@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  padding-top: 3.5rem;
  grid-template-rows: auto 5rem;
}

.items {
  margin: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.cta.item:hover,
.cta.item:active {
  background-color: darkgreen;
}

.cta.item > a {
  color: white;
  font-weight: bold;
}

.cta.item > a:hover,
.cta.item > a:active {
  border-bottom: 0;
}

.item {
  margin: 0 1.4rem;
}

.link,
.mobile-nav__item a {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
}

.cta.item,
.mobile-nav__item--cta a {
  background-color: #ff1b68;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  color: white;
  margin-right: 0;
}

nav .link:hover,
nav .link:active {
  color: white;
  border-bottom: 0.3rem solid white;
}

.logo {
  display: flex;
}

.logo > .link {
  font-weight: bold;
  height: 2.5rem;
}

.link > img {
  height: 100%;
}

.header {
  background-color: lightgreen;
  padding: 0.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: none;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

.mobile-nav__item {
  margin: 0.5rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

/* footer */

.footer {
  background-color: black;
  color: white;
}

.footer > nav {
  height: 100%;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 40rem) {
  .footer ul {
    flex-direction: row;
  }
}

.footer ul > li {
  margin: 0 1rem;
}

.footer ul > li > a {
  color: white;
  text-decoration: none;
}

.footer ul > li > a:hover,
.footer ul > li > a:active {
  color: #ccc;
}

.background {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

button {
  font: inherit;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  border: #a1a1a1;
  color: #a1a1a1;
  background-color: #ccc;
}

.cta-model:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid darkgreen;
}

button:focus {
  outline: none;
}
