.testimonial {
  font-size: 20px;
  margin: 2.5rem 0;
}

.testimonial__list {
  width: 80%;
  margin: auto;
}

.testimonial__image-container {
  max-width: 580px;
}

.testimonial__image {
  width: 100%;
  height: 100%;
}

.testimonial__info {
  padding: 0.9rem;
}

@media (min-width: 40rem) {
  .testimonial {
    max-width: 1500px;
    display: flex;
    justify-content: center;
  }

  .testimonial__info {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: 0.2rem;
  color: #ff5454;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.2rem;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
}
