#section-packages {
  padding: 2rem 0px;
  margin-top: 2.8rem;
}

#plus {
  background-color: rgba(198, 241, 209, 0.95);
}

#free {
  background-color: rgba(244, 255, 247, 0.95);
}

#premium {
  background-color: rgba(0, 100, 0, 0.95);
}

.package-box {
  position: relative;
  padding: 2rem;
  margin: 1rem 0;
  border: 0.2rem solid darkgreen;
  border-left: none;
  width: 80%;
}

.package-box:hover {
  border-color: #ff1b68;
  box-shadow: 2px 2px 4px grey;
}

.box-link {
  text-decoration: none;
  color: black;
}

.box-link h2 {
  color: grey;
}

.package-desc {
  background-color: white;
  padding: 1rem;
  border: 1px solid darkgreen;
}

.highlighted {
  background-color: darkgreen;
}

.highlighted .package-header {
  color: white;
}

.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.badge {
  width: 2.2rem;
  height: 2.2rem;
  background-color: gold;
  border-radius: 50%;
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
}
