main {
  padding-top: 1rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form {
  padding: 1rem;
}

@media (min-width: 40rem) {
  .signup-form {
    max-width: 43rem;
    margin: 0 auto;
  }
}

.signup-form label {
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

.signup-form input:not([type='checkbox']),
.signup-form select {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
}

.signup-form input,
.signup-form select:focus {
  outline: none;
  background-color: #d8f3df;
  border-color: darkgreen;
}

.signup-form input[type='checkbox'],
.signup-form input[type='checkbox'] + label {
  display: inline-block;
  width: auto;
  margin-right: 0.5rem;
}

.signup-form input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #d8f3df;
  border: 1px solid darkgreen;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
  cursor: pointer;
}
.signup-form input[type='checkbox']:checked {
  background-color: darkgreen;
}

.signup-form input:invalid {
  background-color: lightcoral;
  border: 1px solid red;
}

.signup-form button[type='submit'] {
  margin-top: 0.5rem;
  display: block;
}
